<%= stylesheet_link_tag 'spree_reports/spree_reports', media: 'all' %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>


<% content_for :page_title do %>
  <%= link_to Spree.t(:reports), spree.admin_reports_url %> /
  <%= Spree.t(:orders_overview) %>
<% end %>



<div class="spree_reports report">
  
  
  <div class="options">
    
    <%= form_tag "", method: :get, class: "options" do %>
    
      <span class="option">
        state:
        <%= select_tag "state", options_for_select(@report.states, selected: @report.state) %>
      </span>
    
      <% if @report.currencies.size > 1 %>
        <span class="option">
          currency:
          <%= select_tag "currency", options_for_select(@report.currencies, selected: @report.currency) %>
        </span>
      <% end %>
  
      <% if @report.stores.size > 2 %>
        <span class="option">
          store:
          <%= select_tag "store", options_for_select(@report.stores, selected: @report.store) %>
        </span>
      <% end %>
  
      <%= submit_tag 'reload' %>
  
    <% end %>
    
  </div>
  
  <div class="table">
    
    <table class="data" border="1">
      <tr>
        <th class="help" title="order_number">order_number</th>
        <th class="help" title="delivery_date">delivery_date</th>
        <th class="help" title="first_name">first_name</th>
        <th class="help" title="last_name">last_name</th>
        <th class="help" title="count_40_jolly">40 jolly</th>
        <th class="help" title="count_40_kumo">40 kumo</th>
        <th class="help" title="count_40_pacific">40 pacific</th>
        <th class="help" title="count_60_combo">60 combo</th>
        <th class="help" title="count_80_combo">80 combo</th>
        <th class="help" title="count_knife">knife</th>
        <th class="help" title="special_instruction">special_instruction</th>

      </tr>
  
      <% @report.data.each do |item| %>
        <tr>
          <td><%=item[:order_number]%></td>
          <td><%=item[:delivery_date]%></td>
          <td><%=item[:first_name]%></td>
          <td><%=item[:last_name]%></td>
          <td><%=item[:count_40_jolly]%></td>
          <td><%=item[:count_40_kumo]%></td>
          <td><%=item[:count_40_pacific]%></td>
          <td><%=item[:count_60_combo]%></td>
          <td><%=item[:count_80_combo]%></td>
          <td><%=item[:count_knife]%></td>
          <td><%=item[:special_instructions]%></td>
        </tr>
      <% end %>
  
    </table>
  
  </div>
  
  <div class="permalink">
    <h2>Permalink</h2>
    <input id="spree_reports_permalink" type="text" value="<%= request.url.split('?').first + "?" + params.except(:utf8, :commit, :action, :controller).to_query %>" onclick="$(this).select();return;">
    <% if SpreeReports.csv_export %>
      <%= link_to 'Download as CSV', params.except(:utf8, :commit).merge(format: "csv") %>
    <% end %>
  </div>
  
</div>